html { padding:0; margin:0;}
body { position:relative; margin:0; padding:0; color:#121425; font:normal 14px/1.3em "Istok Web", Arial, Helvetica, sans-serif; background:black;}
.clr { *zoom:1;}
.clr:after { content:""; display:table; clear:both;}

p { margin:0; padding:0 0 2px;}
a { color:#282c4d; text-decoration:underline;}
a img { border:none;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; position:relative; color:#3c4379; font-weight:normal; font-family:"Istok Web", Arial, Helvetica, sans-serif;}
h1 { padding:28px 0; font-size:29px; line-height:1.3em; text-transform:uppercase;}
h2 { padding:0 0 20px; font-size:21px; line-height:1.3em; text-transform:uppercase;}
form, menu, iframe { display:block; margin:0; padding:0;}
input { color:#333; font:normal 16px/18px "Istok Web", Arial, Helvetica, sans-serif; border-radius:0; box-shadow:none; box-sizing:border-box;}
textarea { color:#333; resize:none; overflow:auto; font:normal 16px/24px "Istok Web", Arial, Helvetica, sans-serif; border-radius:0; box-shadow:none; box-sizing:border-box;}
input[type="submit"] { cursor:pointer;}
* { outline:none;}

html, body, #mainwrapper { width:100%; height:100%; overflow:hidden;}
#mainwrapper { position:relative; z-index:1;}
ul {
	list-style: none;
	padding: 0;
 }
main ul li,
main ul li div{
	position: absolute;
	top: 0;
	bottom: 27px;
	left: 0;
	right: 0;
}
ul .active{
	z-index: 3;
}
#button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
}
#button label{
	display: inline-block;
	width: 39px;
	height: 36px;
	cursor: pointer;
}
#button .sun {
	display: inline-block;
	width: 38px;
	height: 36px;
	background: url(../images/sprite_1.png) -54px -108px no-repeat;
	margin-right: -4px;
}
#button .moon {
	display: inline-block;
	width: 38px;
	height: 36px;
	background: url(../images/sprite_1.png) -94px -108px no-repeat ;
}
#button input{
	display: none;
}
#slider li ,
#slider li div{
	opacity: 0;
	transition: all 2s ease;
	background-size: cover !important;
}
#slider .active {display: block;
	opacity: 1;
}
.left {
	cursor: pointer;
	display: block;
	width: 52px;
	height: 52px;
	position: absolute;
	top: 50%;
	left: 30px;
	z-index: 5;
	background: url(../images/sprite_1.png) 0 -150px no-repeat;
}

.right {
	cursor: pointer;
	display: block;
	width: 52px;
	height: 52px;
	position: absolute;
	top: 50%;
	right: 30px;
	z-index: 5;
	background: url(../images/sprite_1.png) 0 -96px no-repeat;
}

.right:hover{
	background-position: -108px -146px;
}
.left:hover{
	background-position: -54px -146px;
}
.circle {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 15px;
	z-index: 3;
}
.circle .round {
	cursor: pointer;
	margin: 0 5px;
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #121425;
	border-radius: 50%;
}

.circle .point {
	background-color: #f5de3a;
}

#slider .first .night {background: url(../images/background_1_night.jpg) no-repeat center;}
#slider .first .day {background: url(../images/background_1.jpg) no-repeat center}

#slider .second .night {background: url(../images/background_2_night.jpg) no-repeat center}
#slider .second .day {background: url(../images/background_2.jpg) no-repeat center}

#slider .third .night {background: url(../images/background_3_night.jpg) no-repeat center}
#slider .third .day {background: url(../images/background_3.jpg) no-repeat center}

#slider .fourth .night {background: url(../images/background_4_night.jpg) no-repeat center}
#slider .fourth .day {background: url(../images/background_4.jpg) no-repeat center}

#slider .fifth .night {background: url(../images/background_5_night.jpg) no-repeat center}
#slider .fifth .day {background: url(../images/background_5.jpg) no-repeat center}

.leftSide,
.rightSide{
	position: absolute;
	top: 0;
	bottom: 55px;
	z-index: 13;
	background: rgba(45,54,74,0.5);
	transition: all 2s ease-out;
}

.leftSide{
	left: -300px;
	text-align: center;
	width: 300px;
	height: auto;
}
.leftSide ul a,
.leftSide ul{
	display: flex;
	margin-bottom: 10px;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;

}
.leftSide ul{
	height: 100%;
}
.leftSide ul a {
	transition: transform 1s cubic-bezier(.17,.67,.33,1.83);
	transform: scale(0);
}

.show {
	transform: scale(1) !important;
}

.leftSide li a:before {
	display: block;
	content: "";
	width: 33px;
	height: 30px;
	background: url(../images/sprite_1.png) no-repeat left top
}
.leftSide li .none:before{
	content: none;
}

.leftSide li a:hover:before  {
	background-position: -35px 0;
}

.leftSide .flat a:before {
	background-position: -70px 0;
}
.leftSide .flat a:hover:before {
	background-position: -105px 0;
}
.leftSide .mortgage a:before {
	background-position: 0 -64px;
}
.leftSide .mortgage a:hover:before {
	background-position: -35px -64px;
}
.leftSide .price a:before {
	background-position: -70px -64px;
}
.leftSide .price a:hover:before {
	background-position: -105px -64px;
}
.leftSide .worker a:before {
	background-position: 0 -32px;
}
.leftSide .worker a:hover:before {
	background-position: -35px -32px;
}
.leftSide .gallery a:before {
	background-position: -70px -32px;
}
.leftSide .gallery a:hover:before {
	background-position: -105px -32px;
}
.leftSide .news a:before {
	background-position: -140px 0;
}
.leftSide .news a:hover:before {
	background-position: -140px -32px;
}
.leftSide .contacts a:before {
	background-position: -140px -64px;
}
.leftSide .contacts a:hover:before {
	background-position: -140px -96px;
}
.leftSide  a{
  color: #ebd56c;
}
.leftSide a:hover{
	color: #ffd200;
}

.rightSide {
	right: -90px;
	width: 90px;
}
.bottom_menu{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	position: absolute;
	bottom: -99px;
	z-index: 5;
	transition: all 2s ease-out;
}
.bottom_menu ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
	width: 50%;
}

.bottom_menu ul a{
	display: block;
	width: 190px;
	height: 130px;
	background: rgba(45,54,74,0.7);
	border: 0 solid rgba(45,54,74,0.7);
	border-radius: 5px;
	padding-top: 10px;
	margin: 0 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
.bottom_menu ul li{
	bottom: 0;
	position: relative;
	transition: all 0.5s ease-out;
}
.bottom_menu ul li:hover{
	bottom: 70px;

}
.bottom_menu a:after{
	display: block;
	content: "";
	width: 100%;
	height: 130px;
	background-size: contain;
}
.bottom_menu .architecture:after{
	background: url(../images/subpath_arch.jpg) no-repeat center ;
}
.bottom_menu .infrastructure:after{
	background: url(../images/subpath_infra.jpg) no-repeat center ;
}
.bottom_menu .place:after{
	background: url(../images/subpath_posit.jpg) no-repeat center ;
}

footer {
	position: absolute;
	z-index: 13;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	height: 55px;
	background-color: #121425;
}
footer p {
	color: white;
}
.map {
	position: absolute;
	top: 0;
	z-index: 3;
}
.hide {
	display: none;
}
.visible{
	display: block;
}

@media (max-width: 1250px) {
	.bottom_menu ul{
		display: block;
	}
	.bottom_menu ul .architecture ,
	.bottom_menu ul .infrastructure{

	}
	.bottom_menu ul .place{
		margin-bottom: -25px;
	}
	.bottom_menu ul a{
		height: 20px;
		margin-left: -40%;
	}
	.bottom_menu ul li:hover{
		bottom: 0;
	}
	.bottom_menu a:after {
		height: 0;
	}
	.bottom_menu:before{
		position: absolute;
		top: -40px;
		display: block;
		content: "";
		width: 50px;
		height: 50px;
		background:  url(../images/Arrow_icon.png) no-repeat center ;
		background-size: contain;
	}
	.bottom_menu:hover{
		bottom: 70px !important;
	}

}
@media (max-width: 850px) {

	.leftSide,
	.rightSide {
		position: static;
	}
}




